* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#isty {
  height: 150px;
  margin: 0 auto 10px auto;
  padding: 5px 5px 5px 5px;
  width: 100%;
}
#i3k5 {
  padding: 0;
  margin: 0;
  vertical-align: top;
  width: 50%;
}
#ieh8 {
  padding: 0;
  margin: 0;
  vertical-align: top;
  width: 50%;
}
#imn7c-2 {
  width: 451px;
}
#i103k {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 70px 0px;
}
#imn7c-3 {
  width: 378px;
}
#iruj2 {
  color: black;
  width: 452px;
}
