@import 'grapesjs/dist/css/grapes.min.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

html {
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



#editor {
  background-color: red;
}

/* Custom styles for GrapesJS blocks */
/* Block Style */
.gjs-block {
  border: 1px solid white;
  padding: 10px;
}

.gjs-block:hover {
  border: 1px solid red;
  color : red
}

.gjs-block-categories > div {
  background-color: black;
  color : white
}

/* Panel Style */
.gjs-pn-panels > div {
  background-color: black;
  color : white
}

.gjs-pn-panel >  .gjs-pn-buttons > span:hover {
  color : red
}

/* Panel DropDown Style */
.gjs-blocks-c > div {
  background-color: black;
}

.gjs-blocks-c > div:hover {
  color : red
}

.gjs-block-category > .gjs-title:hover {
  color : red
}

.gjs-blocks-no-cat {
  background-color: black;
}

.gjs-sm-sectors  > div{
  background-color: black;
  color: white
}

.gjs-traits-empty-c , .gjs-layer  > div{
  background-color: black;
}
/* ===================================================================== */

.custom-panel-content {

}

/* .gjs-block h1 {
  font-size: 2rem;
  color: #333;
}

.gjs-block p {
  font-size: 1rem;
  color: #666;
}

.gjs-block link {
  color: red !important;
  text-decoration: none;
  background-color: red !important;
} */

[data-gjs-type="cell"] {
  background-color: red;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .column {
  flex: 1;
  padding: 10px;
  min-width: 200px;
}
.footer h3 {
  margin-top: 0;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .social-icons a {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
}
