.tableContainer {
    background-color: #F0F0F0;
    height: 100vh;
    padding: 20px;
}

.tableWebContent {
    background-color: white;
    padding: 15px;
    overflow: hidden;
    border-radius: 10px;
}